<div class="pre-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="pre-fot-box">
          <div class="btn-icon"><i class="fa fa-phone"></i></div>
          <p>24/7 SUPPORT 0800 123 4567</p>
          <h4>0800 123 4567</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pre-fot-box">
          <div class="btn-icon"><i class="fa fa-envelope"></i></div>
          <p>EMAIL ADDRESS</p>
          <h4><a href="mailto:info@autodoc.com">info@autodoc.com</a></h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pre-fot-box">
          <div class="btn-icon"><i class="fa fa-clock-o"></i></div>
          <p>OPENING HOURS</p>
          <h4>Mon - Fri 8am to 6pm</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer footer-shop">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="fot-box">
          <h3 class="fot-title">ABOUT AUTODOC</h3>
          <p>
            Sed vitae diam. Suspendisse vel justo mattis magna vestibulum
            molestie. Ut Nulla facilis In hac habitasse platea dictumst. Aliquam
            tincidunt aliquet nunc. Ut tincidunt magna in eros. Vivamus a metus.
          </p>
          <a class="btn btn-primary btn-icon-right"
            >PURCHASE NOW
            <div class="btn-icon"><i class="fa fa-long-arrow-right"></i></div>
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="fot-box">
          <h3 class="fot-title">SERVICES OFFERED</h3>
          <ul class="x-hover-box">
            <li><a href="#"> Suspension Repair</a></li>
            <li><a href="#"> Brakes Check</a></li>
            <li><a href="#"> Wheel Alignment</a></li>
            <li><a href="#"> Engine Installation</a></li>
            <li><a href="#"> Vehicle Painting</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <div class="fot-box">
          <h3 class="fot-title">&nbsp;</h3>
          <ul class="x-hover-box">
            <li><a href="#"> Exhaust Fitting</a></li>
            <li><a href="#">Air Con Check</a></li>
            <li><a href="#">Cambelt Replacement</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="fot-box">
          <h3 class="fot-title">Contact Us</h3>
          <div class="media fot-contact">
            <div class="media-body">
              <p>
                We are located in Hollywood, Florida. With branches in
                Washington,<br />
                Georgia and Victoria.
              </p>
              <p>
                Headoffice: <br />
                Suite # 38, Fireworks Hill, Victoria,<br />
                WA 12340 <i class="fa fa-map-marker"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-absolute">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="copy">
          <p>Inzin Automotive Marketplace | All rights reserved.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <p class="text-center">
          <img
            src="../../../assets/img/logo3.png"
            width="148"
            height="40"
            alt="logo"
          />
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="social-box">
          <ul class="social-links">
            <li>
              <a href="https://www.facebook.com/" target="_blank"
                ><i class="icomoon-facebook"></i
              ></a>
            </li>
            <li class="">
              <a href="https://twitter.com/" target="_blank"
                ><i class="icomoon-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.google.com/" target="_blank"
                ><i class="icomoon-googleplus"></i
              ></a>
            </li>
            <li>
              <a href="https://www.pinterest.com/" target="_blank"
                ><i class="icomoon-pinterest"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
